.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.contenedor {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.example-header {
  margin-top: 1em;
  margin-bottom: 1em;
}

caption {
  background: white;
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #9d9999;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
}

.tiempo {
  margin-left: 2px;
  width: 5em;
}
